In [5]:
import pandas as pd
import glob

In [7]:
path = r'ercot_data/' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    ercotData_df = pd.read_csv(filename, index_col=None, header=0)
    li.append(ercotData_df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [8]:
ercotData_df.head()

  Delivery Date Hour Ending Repeated Hour Flag  REGDN  REGUP   RRS  NSPIN
0    01/01/2013       01:00                  N   3.52    3.01  3.0    1.0
1    01/01/2013       02:00                  N   6.01    2.00  3.0    1.0
2    01/01/2013       03:00                  N   5.61    2.00  3.0    1.0
3    01/01/2013       04:00                  N   5.52    3.00  3.0    1.0
4    01/01/2013       05:00                  N   5.35    3.01  3.0    1.0

In [9]:
frame.head()

,Delivery Date,Hour Ending,Repeated Hour Flag,REGDN,REGUP,RRS,NSPIN,REGUP
0,01/01/2018,01:00,N,1.00,2.51,3.00,1.01,NaN
1,01/01/2018,02:00,N,0.98,1.01,2.10,1.01,NaN
2,01/01/2018,03:00,N,1.00,2.10,2.81,1.00,NaN
3,01/01/2018,04:00,N,1.00,2.51,3.00,1.00,NaN
4,01/01/2018,05:00,N,1.00,3.11,3.31,1.00,NaN

In [10]:
frame.to_csv('output/ercotData_consolidated.csv')